.app {
  background-color: #F4F5F8;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container-fluid {
  width: 100%;
  padding: 1.5rem;
}


.kanban-board {
  display: flex;
  gap: 20px;
  overflow-x: auto ;
  padding: 35px 1.5rem 0;
  max-height:  calc(100vh - 80px);
  min-height:  calc(100vh - 80px);
}

.flex {
  display: flex;
}

.jusitify-content-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 10px
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #888;
}

.loader-img {
  columns: red;
  width: 100px;
  height: 100px;
  margin: 20px;
  display:inline-block;

}

.text-muted {
  color: #6B6F76;
}